<%=render :partial=>'share/header'%>
<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Nick name:</b>
  <%=h @user.nick_name %>
</p>
<p>
  <b>Picture </b>
  <%=image_tag @user.picture ,:size=>'60x70'%>
</p>  

<p>
  <b>Blog:</b>
  <%=h @user.blog_name %>
</p>
<p>
  <b>Blog Description:</b>
  <%=h @user.blog_description %>
</p>





